@media (min-width: 1000px) and (max-width: 1366px){
	
	/*banner*/

	header{
		background: url('../img/banner/wapper.jpg') center no-repeat;
		background-size: 102.5% 100%;
		height: 740px;
	}

	.banner-top{
		max-width: 1366px;
		margin: 0 auto;

	}

	.logo-top{
		width: 100%;
		height: 70px;
	}

	.logo-top img{
		padding-left: 210px;
		padding-top: 20px;
		height: 50px;
		width: 126px;
	}

	.top-info-main{
		padding-left: 210px;
		padding-top: 92px;
	}

	.top-info-main h1{
		width: 469px;
		height: 226px;
		font-size: 40px;
		line-height: 60px;
		font-weight: 400;
		font-family: 'Lighthaus';
	}


	.top-info-main p{
		width: 487px;
		font-family: 'Montserrat';
		font-size: 18px;
		line-height: 28px;
		font-weight: 400;
		padding-top: 18px;
	}

	.top-info-main button , .main_btn{
		margin-top: 30px;
		width: 146px;
		height: 54px;
		background: #d81523;
		border-radius: 30px;
		color: #fff;
		font-family: 'Montserrat';
		font-size: 18px;
		line-height: 21.94px;
		font-weight: 500;
		transition-duration: 0.3s;
		z-index: 10;
		position: relative;
		cursor: pointer;
	}


	.vectors-top{
		z-index: 1;
		position: absolute;
		width: 100%;
	}

	.vectors-top img{
		position: absolute;
		top: -20px;
		left: 0px;
		width: 55%;
	}

	/*end-banner*/

	/*content*/




	.vecrots-content-main_woods-two{
		position: absolute;
		right: 0px;
		left: auto;
		top: 693px;
		width: 27%;
		transform: scale(-1,1);
	}

	.vecrots-content-main_woods-one{
		position: absolute;
		top: 1px;
		width: 27%;
	}

	.content-block{
		margin: 0 auto;
		width: 765px;
	}

	.content-block_img{
		padding-left:193px;
		padding-top: 111px;
		width: 380px;
	}

	.content-block_text{
		width: 99%;
		padding-left: 0px;
		padding-top: 0px;
		font-family: 'Montserrat';
		font-size: 18px;
		line-height: 27px;
		font-weight: 400;
	}

	.content-block_text p{
		padding-top: 23px;
	}

	.content-block_btn{
		margin-top: 25px;
		margin-left: 310px;
	}

	/*end info content*/

	/*form*/

	.block-forms-all{
		margin-top: 38px;
		width: 100%;
		background: url('../img/content/wapper-fox.svg') no-repeat ;
		background-position: -15px 174px;
		background-size: 101%;
		height: 1240px;
		position: relative;
		padding-bottom: 100px;
	}

	.block-forms{
		width: 100%;
		height: 1240px;
		margin: 0 auto;
		max-width: 1366px;
		position: relative;
		z-index: 10;
	}

	.block-forms a{
		transition-duration: 0.3s;
	}

	.block-forms a:hover{
		opacity: 0.5;
	}


	.block-forms__vectors{
		position: absolute;
		width: 100%;
		height: 1250px;
		z-index: 1;
	}

	.block-forms__vectors img{
		position: absolute;
		left: 0;
	}


	.block-forms__vectors img:first-child{
		top: 98px;
		height: 650px;
	}

	.block-forms__vectors img:last-child{
		right: 0px;
		left: auto;
		width: 22%;
		top: 503px;
	}

	.block-forms_title{
		font-family: 'Lighthaus';
		font-size: 40px;
		font-weight: 400;
		line-height: 51.56px;
		margin: 0 auto;
		padding-left: 4px;
		padding-top: 28px;
		width: 578px;
	}

	.block-forms__propertys{
		width: 627px;
		height: 705px;
		border-radius: 20px;
		border: 1px solid #e5e5e5;
		background: #fff;
		margin-left: 370px;
		margin-top: 30px;
	}

	.block-forms__propertys-description,
	.block-forms__propertys__cards-img{
		margin: 0 auto;
	}

	.block-forms__propertys__big-btn{
		margin-left: 46px;
		margin-top: 38px;
		margin-bottom: 15px;
	}

	.block-forms__propertys__small-btns{
		padding-top: 20px;
		padding-left: 47px;
		padding-bottom: 0;
		display: flex;
		width: 528px;
		justify-content: space-between;
	}

	.block-forms__propertys__data{
		padding-left: 48px;
		padding-top: 6px;
	}

	.block-forms__propertys__check{
		padding-left: 49px;
		padding-top: 10px;
	}

	.block-forms__propertys__post-btn{
		margin-left: 48px;
		margin-top: 28px;
		margin-bottom: 30px;
	}

	.block-forms__propertys__info-cards{
		padding-left: 185px;
	}

	.block-forms__propertys__cards-img{
		margin-top: 30px;
	}

	.block-forms__propertys__data input{
		margin: 10px 0;
	}

	.block-forms__propertys__big-btn,
	.block-forms__propertys__small-btns button{
		width: 299px;
		height: 55px;
		border: 1px solid #a6a6a6;
		border-radius: 32px;
	}

	.block-forms__propertys__big-btn button,
	.block-forms__propertys__small-btns button{
		height: 55px;
		font-family: 'Montserrat';
		font-size: 18px;
		line-height: 21.94px;
		font-weight: 400;
		border-radius: 30px;
		background: transparent;
		color: #000;
		transition-duration: 0.3s;
	}

	.block-forms__propertys__big-btn button.active,
	.block-forms__propertys__small-btns button.active{
		background: #D7B377;
		color: #fff;
	}

	.block-forms__propertys__big-btn button:first-child{
		width: 120px;
	}

	.block-forms__propertys__big-btn button:last-child{
		width: 175px;
	}

	.block-forms__propertys-description{
		width: 528px;
		padding-top: 2px;
		font-size: 18px;
		line-height: 30px;
		font-weight: 400;
		font-family: 'Montserrat';
		padding-bottom: 18px;
		border-bottom: 2px solid #a6a6a6; 
	}

	.block-forms__propertys__small-btns button{
		min-width: 110px;
		max-width: 140px;
		font-family: 'Montserrat';
	}

	.block-forms__propertys__small-btns button:nth-child(1){
		width: 110px;
	}

	.block-forms__propertys__small-btns button:nth-child(2){
		width: 118px;
	}

	.block-forms__propertys__small-btns button:nth-child(3){
		width: 120px;
	}

	.block-forms__propertys__small-btns button:nth-child(4){
		width: 121px;
	}


	.block-forms__propertys__data input{
		width: 498px;
		height: 55px;
		border: 1px solid #a6a6a6;
		border-radius: 30px;
		font-size: 18px;
		line-height: 24.38px;
		font-weight: 400;
		font-family: 'Montserrat';
		transition-duration: 0.3s;
		padding-left: 30px;
	}



	.block-forms__propertys__data input:placeholder-shown:focus{
		font-size: 22px;
		text-shadow: 0px 0px 10px #D7B377;
	}


	.block-forms__propertys__check label{
		display: flex;
		font-family: 'Montserrat';
		font-size: 18px;
		font-weight: 400;
		line-height: 24.38px;
	}


	.block-forms__propertys__post-btn{
		width: 528px;
		height: 54px;
		border-radius: 40px;
		background: #d81523;
		color: #fff;
		font-family: 'Montserrat';
		font-size: 18px;
		font-weight: 500;
		line-height: 26.82px;
		transition-duration: 0.3s;
	}

	.block-forms__propertys__info-cards{
		font-family: 'Montserrat';
		font-size: 16px;
		font-weight: 500;
		color: #D7B377;
		line-height: 21.94px;
	}

	.block-forms__propertys__cards-img{
		display: flex;
		justify-content: space-between;
		width: 528px;
		height: 37px;
	}

	.block-forms__propertys__cards-img img{
		cursor: pointer;
		max-width: 68px;
	}

	.block-forms__propertys__cards-img img:nth-child(3),
	.block-forms__propertys__cards-img img:nth-child(4){
		max-width: 47px;
	}

	.block-forms__propertys__cards-img img:nth-child(5),
	.block-forms__propertys__cards-img img:nth-child(6){
		max-width: 61px;
	}


	/*end form*/

	/*question*/

	.block-questions{
		position: relative;
		z-index: 2;
		width: 100%;
	}


	.block-questions__self{
		text-align: center;
		padding-top: 2px;
	}

	.vectors__block-questions{
		position: absolute;
		z-index: 1;
		width: 100%;
	}

	.vectors__block-questions_vector{
		z-index: 2;
		top: -310px;
		width: 42%;
	}

	.vectors__block-questions_birds{
		top: -100px;
		left: 30px;
		width: 25%;
	}

	.vectors__block-questions img{
		position: absolute;
	}

	.vectors__block-questions_rabbit{
		top: 165px;
		left: auto;
		right: 0px;
		width: 32%;
	}

	.block-questions__self-title{
		font-size: 40px;
	  	line-height: 51.56px;
	  	font-family: 'Lighthaus';
	  	font-weight: 400;
	  	padding-left: 0px;
	}

	.block-questions__self p{
	  	font-size: 18px;
	  	padding-top: 22px;
	  	padding-left: 0px;
	  	line-height: 21.94px;
	  	font-family: 'Montserrat';
	  	font-weight: 400;
	}

	.block-questions__self p:nth-child(3){
		padding-top: 10px;
	  	padding-left: 0px;
	}
	/*end question*/

	/*footer*/

	footer{
		width: 100%;
		height: 451px;
		padding: 0 10px 0 0px;
		overflow: hidden;
		background: #2D2D2D;
		margin-top: 235px;
	}

	.footer-content{
		display: flex;
		margin: 0 auto;
		max-width: 1366px;
		padding-top: 25px;
		color: #fff;
	}

	.footer-content a:hover{
		opacity: 0.6;
	}

	.logo-footer{
		max-width: 180px;
		padding-top: 15px;
		padding-left: 210px;
	}


	.footer__menu-middle li{
		list-style: none;
		padding: 15px 0 0px 0;
	}

	.footer__menu-middle li a{
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		font-family: 'Montserrat';
		transition-duration: 0.3s;
	}

	.footer__menu-middle{
		margin-left: auto;
		padding-right: 60px;
	}


	.footer__contacts{
		padding-top: 5px;
		padding-right: 177px;
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
		font-family: 'Montserrat';
	}

	.footer__contacts p:not(.footer__contacts div p), .footer__contacts div{
		padding: 10px 0;
	}

	.footer__contacts .footer__contacts__phones p:last-child{
		padding: 10px 0;
	}

	.footer__contacts div p span{
		display: block;
		font-size: 16px;
		line-height: 20px;
	}

	.footer__signature{
		color: #fff;
		width: 100%;
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		line-height: 17.05px;
		font-family: 'Montserrat';
	}

	.footer__signature p{
		padding-top: 29px;
		padding-left: 0px;
	}
	/*end footer*/
}


@media(min-width: 600px) and (max-width: 1000px){
	/*banner*/

	header{
		background: url('../img/banner/wapper.jpg') top no-repeat;
		background-size: contain;
		height: 740px;
	}

	.banner-top{
		max-width: 1366px;
		width: 100%;
		margin: 0 auto;

	}

	.logo-top{
		width: 100%;
		height: 70px;
	}

	.logo-top img{
		padding-left: 5%;
		padding-top: 20px;
		height: 50px;
		width: 126px;
	}

	.top-info-main{
		padding-left: 10%;
		padding-top: 40%;
	}

	@media(min-width: 800px) and (max-width: 1000px){
		.top-info-main{
			padding-left: 5%;
			padding-top: 10%;
		}
	}

	.top-info-main h1{
		width: 469px;
		height: 226px;
		font-size: 40px;
		line-height: 60px;
		font-weight: 400;
		font-family: 'Lighthaus';
	}


	.top-info-main p{
		width: 487px;
		font-family: 'Montserrat';
		font-size: 18px;
		line-height: 28px;
		font-weight: 400;
		padding-top: 18px;
	}

	.top-info-main button , .main_btn{
		margin-top: 30px;
		width: 146px;
		height: 54px;
		background: #d81523;
		border-radius: 30px;
		color: #fff;
		font-family: 'Montserrat';
		font-size: 18px;
		line-height: 21.94px;
		font-weight: 500;
		transition-duration: 0.3s;
		z-index: 10;
		position: relative;
		cursor: pointer;
	}


	.vectors-top{
		z-index: 1;
		position: absolute;
		width: 100%;
	}

	.vectors-top img{
		position: absolute;
		top: -20px;
		left: 0px;
		width: 55%;
	}

	/*end-banner*/

	/*content*/




	.vecrots-content-main_woods-two{
		position: absolute;
		right: 0px;
		left: auto;
		top: 693px;
		width: 27%;
		transform: scale(-1,1);
	}

	.vecrots-content-main_woods-one{
		position: absolute;
		top: 1px;
		width: 27%;
	}

	.content-block{
		margin: 0 auto;
		width: 100%;
	}

	.content-block_img{
		padding-left: 20%;
		padding-top: 111px;
		max-width: 380px;
	}

	.content-block_text{
		width: 90%;
		padding-left: 20px;
		padding-top: 0px;
		font-family: 'Montserrat';
		font-size: 18px;
		line-height: 27px;
		font-weight: 400;
	}

	.content-block_text p{
		padding-top: 23px;
	}

	.content-block_btn{
		margin-top: 25px;
		margin-left:35%;
	}

	/*end info content*/

	/*form*/

	.block-forms-all{
		margin-top: 38px;
		width: 100%;
		background: url('../img/content/wapper-fox.svg') no-repeat ;
		background-position: -15px 174px;
		background-size: 101%;
		height: 1240px;
		position: relative;
		padding-bottom: 100px;
	}

	.block-forms{
		width: 100%;
		height: 1240px;
		margin: 0 auto;
		max-width: 100%;
		position: relative;
		z-index: 10;
	}

	.block-forms a{
		transition-duration: 0.3s;
	}

	.block-forms a:hover{
		opacity: 0.5;
	}


	.block-forms__vectors{
		position: absolute;
		width: 100%;
		height: 1250px;
		z-index: 1;
	}

	.block-forms__vectors img{
		position: absolute;
		left: 0;
	}


	.block-forms__vectors img:first-child{
		top: 98px;
		height: 650px;
	}

	.block-forms__vectors img:last-child{
		right: 0px;
		left: auto;
		width: 22%;
		top: 503px;
	}

	.block-forms_title{
		font-family: 'Lighthaus';
		font-size: 40px;
		font-weight: 400;
		line-height: 51.56px;
		margin: 0 auto;
		padding-left: 4px;
		padding-top: 28px;
		width: 578px;
	}

	.block-forms__propertys{
		width: 70%;
		height: 705px;
		border-radius: 20px;
		border: 1px solid #e5e5e5;
		background: #fff;
		margin: 0 auto;
		margin-top: 30px;
	}

	.block-forms__propertys-description,
	.block-forms__propertys__cards-img{
		margin: 0 auto;
	}

	.block-forms__propertys__big-btn{
		margin-left: 46px;
		margin-top: 38px;
		margin-bottom: 15px;
	}

	.block-forms__propertys__small-btns{
		padding-top: 20px;
		padding-left: 5%;
		padding-bottom: 0;
		display: flex;
		width: 528px;
		justify-content: space-between;
	}

	.block-forms__propertys__data{
		padding-left: 48px;
		padding-top: 6px;
	}

	.block-forms__propertys__check{
		padding-left: 49px;
		padding-top: 10px;
	}

	.block-forms__propertys__post-btn{
		margin-left: 48px;
		margin-top: 28px;
		margin-bottom: 30px;
	}

	.block-forms__propertys__info-cards{
		padding-left: 23%;
	}

	.block-forms__propertys__cards-img{
		margin-top: 30px;
	}

	.block-forms__propertys__data input{
		margin: 10px 0;
	}

	.block-forms__propertys__big-btn,
	.block-forms__propertys__small-btns button{
		width: 70%;
		height: 55px;
		border: 1px solid #a6a6a6;
		border-radius: 32px;
	}

	.block-forms__propertys__big-btn button,
	.block-forms__propertys__small-btns button{
		height: 55px;
		font-family: 'Montserrat';
		font-size: 18px;
		line-height: 21.94px;
		font-weight: 400;
		border-radius: 30px;
		background: transparent;
		color: #000;
		transition-duration: 0.3s;
	}

	.block-forms__propertys__big-btn button:first-child{
		width: 40%;
	}

	.block-forms__propertys__big-btn button:last-child{
		width: 58.5%;
	}

	.block-forms__propertys-description{
		width: 90%;
		padding-top: 2px;
		font-size: 18px;
		line-height: 30px;
		font-weight: 400;
		font-family: 'Montserrat';
		padding-bottom: 18px;
		border-bottom: 2px solid #a6a6a6; 
	}

	.block-forms__propertys__small-btns{
		width: 90%;
	}
	.block-forms__propertys__small-btns button{
		min-width: auto;
		max-width: auto;
		font-family: 'Montserrat';
		width: 20%;
	}
	.block-forms__propertys__small-btns button:nth-child(1){
		width: 23%;
	}

	.block-forms__propertys__small-btns button:nth-child(2){
		width: 23%;
	}

	.block-forms__propertys__small-btns button:nth-child(3){
		width: 23%;
	}

	.block-forms__propertys__small-btns button:nth-child(4){
		width: 23%;
	}


	.block-forms__propertys__data input{
		width: 85%;
		height: 55px;
		border: 1px solid #a6a6a6;
		border-radius: 30px;
		font-size: 18px;
		line-height: 24.38px;
		font-weight: 400;
		font-family: 'Montserrat';
		transition-duration: 0.3s;
		padding-left: 30px;
	}



	.block-forms__propertys__data input:placeholder-shown:focus{
		font-size: 22px;
		text-shadow: 0px 0px 10px #D7B377;
	}


	.block-forms__propertys__check label{
		display: flex;
		font-family: 'Montserrat';
		font-size: 18px;
		font-weight: 400;
		line-height: 24.38px;
	}


	.block-forms__propertys__post-btn{
		width: 83%;
		height: 54px;
		border-radius: 40px;
		background: #d81523;
		color: #fff;
		font-family: 'Montserrat';
		font-size: 18px;
		font-weight: 500;
		line-height: 26.82px;
		transition-duration: 0.3s;
	}

	.block-forms__propertys__info-cards{
		font-family: 'Montserrat';
		font-size: 16px;
		font-weight: 500;
		color: #D7B377;
		line-height: 21.94px;
	}

	.block-forms__propertys__cards-img{
		display: flex;
		justify-content: space-between;
		width: 83%;
		height: 37px;
	}

	.block-forms__propertys__cards-img img{
		cursor: pointer;
		max-width: 68px;
	}

	.block-forms__propertys__cards-img img:nth-child(3),
	.block-forms__propertys__cards-img img:nth-child(4){
		max-width: 47px;
	}

	.block-forms__propertys__cards-img img:nth-child(5),
	.block-forms__propertys__cards-img img:nth-child(6){
		max-width: 61px;
	}


	/*end form*/

	/*question*/

	.block-questions{
		position: relative;
		z-index: 2;
		width: 100%;
	}


	.block-questions__self{
		text-align: center;
		padding-top: 2px;
	}

	.vectors__block-questions{
		position: absolute;
		z-index: 1;
		width: 100%;
		overflow: hidden;
	}

	.vectors__block-questions_vector{
		z-index: 2;
		top: -310px;
		width: 42%;
	}

	.vectors__block-questions_birds{
		top: -100px;
		left: 30px;
		width: 25%;
	}

	.vectors__block-questions img{
		position: absolute;
	}

	.vectors__block-questions_rabbit{
		top: 165px;
		left: auto;
		right: -20px;
		width: 32%;
	}

	.block-questions__self-title{
		font-size: 40px;
	  	line-height: 51.56px;
	  	font-family: 'Lighthaus';
	  	font-weight: 400;
	  	padding-left: 0px;
	}

	.block-questions__self p{
	  	font-size: 18px;
	  	padding-top: 22px;
	  	padding-left: 0px;
	  	line-height: 21.94px;
	  	font-family: 'Montserrat';
	  	font-weight: 400;
	}

	.block-questions__self p:nth-child(3){
		padding-top: 10px;
	  	padding-left: 0px;
	}
	/*end question*/

	/*footer*/

	footer{
		width: 100%;
		height: 451px;
		padding: 0 0px 0 0px;
		overflow: hidden;
		background: #2D2D2D;
		margin-top: 235px;
	}

	.footer-content{
		display: flex;
		margin: 0 auto;
		width: 100%;
		max-width: 1366px;
		padding-top: 25px;
		color: #fff;
	}

	.footer-content a:hover{
		opacity: 0.6;
	}

	.logo-footer{
		max-width: 180px;
		padding-top: 15px;
		padding-left: 1%;
	}


	.footer__menu-middle li{
		list-style: none;
		padding: 15px 0 0px 0;
	}

	.footer__menu-middle li a{
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		font-family: 'Montserrat';
		transition-duration: 0.3s;
	}

	.footer__menu-middle{
		margin-left: auto;
		padding-right: 1%;
	}


	.footer__contacts{
		padding-top: 5px;
		padding-right: 5%;
		color: #fff;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
		font-family: 'Montserrat';
	}

	.footer__contacts p:not(.footer__contacts div p), .footer__contacts div{
		padding: 10px 0;
	}

	.footer__contacts .footer__contacts__phones p:last-child{
		padding: 10px 0;
	}

	.footer__contacts div p span{
		display: block;
		font-size: 16px;
		line-height: 20px;
	}

	.footer__signature{
		color: #fff;
		width: 100%;
		text-align: center;
		font-size: 14px;
		font-weight: 400;
		line-height: 17.05px;
		font-family: 'Montserrat';
	}

	.footer__signature p{
		padding-top: 29px;
		padding-left: 0px;
	}
	/*end footer*/


}