
@font-face {
   font-family: 'Lighthaus';
   src: url("font/Lighthaus.otf");
}

@font-face {
   font-family: 'Montserrat';
   src: url("font/Montserrat-Regular.ttf");
}
@media (min-width: 1920px){
.header {
	background: rgb(255,0,0,0.5) url("images/Rectangle 28.png") no-repeat center;
	background-size: cover;
	height: 1000px;
   margin-top: -42px;
	width: 1920px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.header img {
	position: absolute;
}

.icon {
	top: 30px;
	left: 303px;
}

.header h2 {
	padding-top: 272px;
	margin-left: 295px;
	font-size: 49px;
	width: 600px;
	height: 180px;
	letter-spacing: 0px;
	line-height: 73px;
	font-family: "Lighthaus";
	font-weight: 100;
}

.header p {
	font-family: "Montserrat";
   font-size: 25px;
   letter-spacing: 1px;
   margin-top: 50px;
   margin-left: 302px;
}

.header button {
	position: absolute;
	top: 565px;
	margin-left: 302px;
	background: red;
	border-color: red;
	border-radius: 30px;
	width: 160px;
	height: 65px;
	font-size: 24px;
	letter-spacing: 1px;
	transition-duration: 0.3s;
}

.ger a {
	text-decoration: none;
	color: white;
}

.header button:hover {
	opacity: 0.3;
}

.main p {
   font-size: 27px;
   font-family: "Montserrat";
   width: 1029px;
   margin-top: 30px;
   font-weight: 100;
   line-height: 33px;
}

.main p a {
   color: #D7B377;
}

.main .opis {
	margin-top: 326px;
	margin-left: 410px;
}

.main{
	position: relative;
	width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

.main img {
	position: absolute;
}

.main .icon {
	top: -324px;
	left: 0px;
}

.main .icon2 {
	top: -193px;
	margin-left: 737px;
}

.main .icon3 {
	top: 470px;
	margin-left: 420px;
	transform: scale(-1, 1)
}

.main button {
	margin-top: 22px;
	margin-left: 880px;
	background: red;
	border-color: red;
	border-radius: 30px;
	width: 160px;
	height: 68px;
	font-size: 25px;
	transition-duration: 0.3s;
}

.main button:hover {
	opacity: 0.3;
}

.main button a {
	text-decoration: none;
	color: white;
}

.block-three{
	width: 1920px;
	margin-left: auto;
	margin-right: auto;
	background: url("images/block2.png") no-repeat 0px 60px;
	height: 1500px;
	margin-top: -5px;
	position: relative;
	

}

.block-three img:first-child{
	position: absolute;
	top: 0px;
}

.block-three img:nth-child(2){
	position: absolute;
	top: 450px;
	right: 0;
}

.forma{
	margin-top: 190px;
	width: 720px;
	margin-left: auto;
	margin-right: auto;
}

.forma h2{
	font-size: 48px;
	font-weight: 100px;
	margin-left: 15px;
	padding-top: 10px;
	font-family: "Lighthaus";
}

.detail {
	margin-top: 0px;
	width: 695px;
	height: 770px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	border-radius: 20px;
	border: 1px solid #e5e5e5 ;
}

.btn-item{
	display: flex;
	width: 355px;
	font-size: 25px;
	font-family: "Montserrat";
	margin-top: 35px;
	margin-left: 50px;
	height: 63px;
	border-radius: 50px;
	border: 1px solid #A6A6A6;
	cursor: pointer;
}

.value-one{
	width: 143px;
	text-align: center;
	height: 50px;
	padding-top: 15px;
}

.value{
	background: #D7B377;
	border-radius: 30px;
	color: white;
	transition-duration: 0.3s;
}

.value-two{
	width: 197px;
	text-align: center;
	height: 47px;
	padding-top: 17px;
	margin-left: 16px;
}

.opis{
	font-size: 23px;
	font-family: "Montserrat";
	line-height: 30px;
	width: 600px;
	margin-top: -5px;
	margin-left: 50px;
	letter-spacing: 0.8px;
}

.number div{
	border: 1px solid #A6A6A6;
	border-radius: 30px;
	width: 120px;
	height: 43px;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 21px;
	letter-spacing: 1.7px;
	padding-top: 20px;
	margin: 10px;
	cursor: pointer;
}

div.price-two , div.price-three , div.price-forth {
	width: 135px;
}
.number{
	border-top: 4px solid #A6A6A6 ;
	margin-left: 60px;
	margin-top: -5px;
	width: 590px;
}
.number ul{
	
	list-style: none;
	display: flex;
	margin-top: 0px;
	padding-top: 10px;
	margin-left: -60px;
}

.detail input{
	margin-left: 50px;
	margin-top: -10px;
	margin-bottom: 40px;
	border-radius: 50px;
	width: 560px;
	height: 57px;
	justify-content: center;
	padding-left: 40px;
	font-family: "Montserrat",sans-serif;
	font-size: 23px;
}
.detail #mail{
	margin-top: -20px;
}
.check{
	margin-top: -20px;
	margin-left: 40px;
}

.check input{
  display: none;
  
}
.check label{
	display: block;
	font-size: 25px;
	font-family: "Montserrat";
}

.check input+label{
  vertical-align: middle;
}

.check input+label::before{
   content: "";
   display: inline-block;
   margin-right: 15px;
   margin-left: 10px;
   vertical-align: middle;
   border: 2px solid #D7B377;
	border-radius: 50%;
	width: 25px;
	height: 25px;
}

input:checked +label::before {
	background-color: #D7B377;
	box-shadow:inset 0 0 0 3px white;
	color: #D7B377;
}

.btn{
	background: red;
	font-size: 25px;
	font-family: "Montserrat",sans-serif;
	width: 600px;
	margin-left: 50px;
	color: white;
	height: 65px;
	margin-top: 30px;
	border-color: red;
	vertical-align: center;
	text-align: center;
	border-radius: 50px;
}

.btn p{
	margin-top: 15px;
}

.btn:hover {
	opacity: 0.3;
}

.politic{
	margin-left: 210px;
	margin-top: 30px;
	margin-right: auto;
	font-size: 22px;
	font-family: "Montserrat";
	
}

.politic a{
	color: #D7B377;
}

.image{
   position: relative;
	margin-top: 15px;
}

.image img{
	position: absolute;
}
.image img:nth-child(1){	
	left: 50px;
	top: 35px;
}

.image img:nth-child(2){	
	left: 165px;
	top: 30px;
}
.image img:nth-child(3){	
	left: 282px;
	top: 25px;
}
.image img:nth-child(4){	
	left: 375px;
	top: 25px;
}
.image img:nth-child(5){	
	left: 470px;
	top: 30px;
}
.image img:nth-child(6){	
	left: 580px;
	top: 30px;
}

.main-two{
	width: 1920px;
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	position: relative;
}

.main-two img:first-child {
	position: absolute;
	left: 15px;
	top: -125px;
}

.main-two img:nth-child(2) {
	position: absolute;
	left: 0px;
	top: -320px;
}

.main-two img:nth-child(3) {
	position: absolute;
	top: 115px;
	right: 0px;
}

.opis-forth{
	text-align: center;
	top: 0;
}

.opis-forth h2 {
	font-family: "Lighthaus";
	font-size: 47px;
	margin-bottom: 20px;
	margin-top: 40px;
}

.opis-forth p {
	font-family: "Montserrat";
	font-size: 27px;
	line-height: 20px;
}

.opis-forth a {
	text-decoration: none;
	color: #D7B377;
}


.footer{
	color: white;
	height: 480px;
	position: relative;
	width: 1920px;
	margin-left: auto;
	margin-right: auto;
}
.footer a{
	color: white;
}
.footer img{
	position: absolute;
	left: 310px;
	top: 40px;
}
.info-one{
	font-family: "Montserrat";
	font-size: 23px;
	line-height: 37px;
	margin-left: 830px;
	padding-top: 10px;
}
.info-one ul{
	list-style: none;
}
.info-one p{
	display: block;
	padding-top: 250px;
	margin-left: 55px;
	font-size: 20px;
}

.info-two{
	margin-left: 1225px;
	margin-top: -437px;
	font-family: "Montserrat";
	font-size: 21px;

}
.info-two ul{
	list-style: none;
}
.info-two p{
	line-height: 34px;
}


footer{
	background: #2D2D2D;
	margin-left: -10px;
	margin-right: 10px;
	margin-top: 100px;
	width: 100%;
}

html{
	width: 100%;
}



a {
	opacity: 0.7;
}
a:hover{
	opacity: 1;
}
}

